.extended_rule_part
  = rule_form.input "extended_days_left_#{index}",
                    input_html: { value: days_left },
                    required: false,
                    label: 'Sell in'
.extended_rule_part
  = rule_form.input "extended_rule_#{index}",
                    input_html: { value: rule },
                    required: false,
                    label: 'Rule'
