= simple_form_for [:admin, @category], builder: ActiveAdmin::FormBuilder do |form|
  = form.input :name
  = form.input :sell_in
  = form.input :start_quality
  = form.input :max_quality
  = form.input :quality_rule
  
  - if extended_rules = form.object.extended_quality_rules
    = form.simple_fields_for :form_extended_quality_rules do |rule_form|
      h3 Extended rules
      .extended_rules
        - extended_rules.each_with_index do |(days_left, rule), index|
          = render partial: 'admin/categories/partials/extended_rule',
                   locals: { rule_form: rule_form, days_left: days_left, rule: rule, index: index }

        = render partial: 'admin/categories/partials/extended_rule',
                 locals: { rule_form: rule_form, days_left: "", rule: "", index: extended_rules.count }
        
      = rule_form.button 'Add rule',
                         class: 'btn-add_rule',
                         type: 'button',
                         data: { type: 'button',
                                 html: render(partial: 'admin/categories/partials/extended_rule',
                                              locals: { rule_form: rule_form,
                                                        days_left: "",
                                                        rule: "",
                                                        index: "%INDEX%" }) }
        

  = form.actions
