// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

$default-padding: 10px;

.simple_form {
  li {
    list-style: none;
    padding-top: 5px;

    label {
      display: block;
      font-weight: bold;
    }
  }

  h3 {
    margin-top: $default-padding;
    margin-bottom: 0px;
    font-weight: bold;
  }

  .extended_rules {
    border: 1px solid #ccc;
    border-radius: $default-padding;
    padding: $default-padding;

    .extended_rule_part {
      width: 45%;
      margin-right: 5%;
      display: inline-block;
    }
  }

  button {
    margin-top: $default-padding;
  }
}
